body {
  font-family: sans-serif;
}

.header-container {
  height: 50px;
  width: 100%;
  background-color: rgb(34, 34, 34);
  color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-img {
  height: 50px;
  width: 50px;
}

a {
  color: white;
}

.text-section {
  display: flex;
  justify-content: center;
}

.gallery {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.card-image {
  width: 150px;
  height: 150px;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.social-instagram {
  width: 30px;
  height: 30px;
}

.social-linkedin {
  width: 30px;
  height: 30px;
}
